.Rhistory
.Rproj.user/
.vscode/
obsolete/
*.sif
*.code-workspace
*.Rproj
.snakemake/
Log.*
_STARtmp/
*.sam
*.bam
reports/
results/
container/
.Rproj.user
.mypy_cache/
/.project
__pycache__/
.mypy_cache/
.pytest_cache/
