.Rhistory
.Rproj.user/
.vscode/
obsolete/
*.sif
*.code-workspace
*.Rproj
.snakemake/
Log.*
_STARtmp/
*.sam
*.bam
reports/
results/
.RData
data - heidelberg/3 - combinedcounts/LNS_W_ALL_GENECOUNTS_UNFILTERED.csv
data - heidelberg/3 - combinedcounts/LNS_W0_unfiltered_combined.csv
data - heidelberg/3 - combinedcounts/LNS_W1_unfiltered_combined.csv
data - heidelberg/3 - combinedcounts/LNS_W2_unfiltered_combined.csv
data - heidelberg/3 - combinedcounts/LNS_W6_unfiltered_combined.csv
data - heidelberg/4 - raceidstemid/W2/R Workspace.RData
data - heidelberg/4 - raceidstemid/W6/R Workspace.RData
data - douwe final/2 - combinedcounts/LNS_W0.csv
